.container{
	position:fixed;
	width:100%;
	height:100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}
header{
	position:absolute;
	top: 25px;
	width:100%;
	height:10%;
	text-align: center;
}
article{
	position:absolute;
	top:10%;
	width:100%;
	height:80%;
	background-image: url('img/obras.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 70%;
}
footer{
	text-align: center;
	position:absolute;
	top:90%;
	left:0%;
	width:100%;
}
