.container{
	position:fixed;
	width:1260px;
	height:780px;
	top:0px;
	left:0px;
	margin: 0px;
	padding:10px;
	background-color:red;
}
.container *{
	margin: 0px;
	padding:10px;
}
header{
	position:fixed;
	top:0px;
	left:0px;
	width:1260px;
	height:60px;
	background-color:#B31302;
}
nav{
	position:fixed;
	top:80px;
	left:0px;
	width:180px;
	height:650px;
	background-color:#025ACC;
	
}
article{
	position:fixed;
	top:80px;
	left:200px;
	width:900px;
	height:650px;
	background-color:#FF331B;
}
aside{
	position:fixed;
	top:80px;
	left:1120px;
	width:140px;
	height:650px;
	background-color:#0B53B3;
}
footer{
	position:fixed;
	top:750px;
	left:0px;
	width:1260px;
	height:30px;
	background-color:#D8FF36;
}